@model ChangeTransactionStateViewModel

<form asp-controller="Transactions" asp-action="ChangeState" method="post">

    <input asp-for="Guid" type="hidden" />

    <div class="modal-main">

        <div class="form-group">
            <label asp-for="StateGuid" class="control-label"></label>
            <select asp-for="StateGuid" asp-items="ViewBag.TransactionStates" class="form-control Select2_Normal">
                <option></option>
            </select>
            <span asp-validation-for="StateGuid" class="text-danger"></span>
        </div>

    </div>

    <div>
        <button class="btn btn-danger modal-btn-Dual pull-left" type="button" data-dismiss="modal">انصراف</button>
        <button class="btn btn-success modal-btn-Dual pull-right" type="submit" name="btn-Delete">تایید</button>
    </div>

</form>

<script src="~/lib/jQuery.Select2/js/select2.js"></script>
<script src="~/lib/jQuery.Select2/js/i18n/fa.js"></script>
<script src="~/js/Select2_Config.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>