@model CreateEventViewModel

<form asp-controller="Calendar" asp-action="CreateEvent" method="post">
    <div class="modal-main">

        <div class="form-group">
            <label asp-for="EventTitle" class="control-label"></label>
            <div class="input-group">
                <span class=" input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <input asp-for="EventTitle" class="form-control" />
            </div>
            <span asp-validation-for="EventTitle" class="text-danger"></span>
        </div>

    </div>

    <div>
        <button class="btn btn-danger modal-btn-Dual pull-left" type="button" data-dismiss="modal">انصراف</button>
        <button class="btn btn-success modal-btn-Dual pull-right" type="submit" name="btn-Delete">تایید</button>
    </div>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>